# dependencies
node_modules/
docs/

# next.js
.next/
.md/
out/

# production
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
DC-key.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# dev scratch scripts
test-crawler*.ts
